PORT = 9000
DB_URL = url mongo bd
JWT_ACCESS_SECRET = jwt-secret-key
JWT_REFRESH_SECRET = jwt-refresh-secret-key
SMTP_HOST = "smtp.gmail.com"
SMTP_PORT = 000
SMTP_USER = example@gmail.com
SMTP_PASSWORD = example
API_URL = http://localhost:9000
CLIENT_URL = http://localhost:3004